@use '../util';

// %widget {
//     padding: util.rem(16);
// }

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: util.rem(40); 
    width: min(100% - util.rem(40), util.rem(1000)); //the minus doesn't work without the whitespace on either side. 
    margin-inline: auto;  


    // DESKTOP SETTINGS
        //@min-width, we go from small screens to large. x, these things change. 
    @include util.breakpoint(large) {  
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto; 
    }

    &__main, &__sidebar{
        padding: util.rem(40); 
    }
    &__main {
        background-color: hsl(240, 88%, 30%);
        @include util.breakpoint(medium){
            background-color: hsl(120, 93%, 11%);
        }
        @include util.breakpoint(large){
            background-color: hsl(21, 100%, 26%);
        }
    }
    &__sidebar{
        @include util.breakpoint-down(medium){
            text-align: center;
        }
        @include util.breakpoint-down(small){
            text-align: right;
        }
    }
    &__widget{
        padding: util.rem(16);

    }
}